/*Color, font and position of labels (not the component itself)*/
.sequence-diagram {
  font-family: Helvetica, Verdana, serif;
  font-size: 16px;
  background-color: #fafafa;
}

.sequence-diagram .participant {
  font-weight: bold;
  background: #fff;
}

.sequence-diagram .participant,
.sequence-diagram .occurrence {
  border: 2px solid rgba(3, 3, 3, 0.05);
}

.sequence-diagram .message {
  border-bottom-color: #808080;
}

.sequence-diagram .occurrence {
  background-color: #d3d3d3;
}

.sequence-diagram .fragment {
  border-style: solid;
  border-color: #aaa;
  border-radius: 2px;
  background: #fafafa;
  opacity: 0.9;
}

.sequence-diagram .fragment .header .name label {
  color: #555;
  font-weight: 700;
}

.sequence-diagram .fragment.alt div.divider {
  border-bottom-style: dashed;
  border-bottom-color: #555;
}

.sequence-diagram .lifeline .line {
  border-left-style: dashed;
  border-left-color: #808080;
}

