/*Color, font and position of labels (not the component itself)*/

.sequence-diagram {
  font-family: Helvetica, Verdana, serif;
  font-size: 16px;
  /* Limit the size when exporting to images */
  display: inline-block;

  .occurrence {
    border-color: #000;
    background-color: #DEDEDE;
  }
  .message {
    .name {
      color: #000;
    }
    border-bottom-color: #000;
    svg {
      polyline {
        stroke: #000;
        &.head {
          fill: #000;
        }
      }
    }
  }

  .divider{
    .left {
      background: #000;
    }
    .right {
      background: #000;
    }
  }

  .fragment {
    border-radius: 4px;
    border-color: rgba(0, 0, 0, 0.30);
    .header {
      .name {
        padding: 4px 4px 4px 6px;
        background: none;
        border-bottom: 1px solid rgba(0, 0, 0, 0.30);
        label { /* name label */
          font-weight: 700;
          background: transparent;
          padding: 0;
          color: #000;
        }
      }
      label { /* other labels e.g. condition */
        display: inline-block;
        padding: 6px 4px 4px 6px;
        color: #000;
        &.else-if {
          display: none;
        }
      }
    }

    &.alt div.divider {
      border-bottom-color: #555;
    }
  }
  .lifeline {
    .participant {
      border-color: #000;
      background: #FFF;
    }
  }

  .selected {
    border-color: rgba(3, 3, 3, 0.55);
  }

  .comments {
    pre, p {
      margin: 0;
      line-height: 1.5em;
    }

    code {
      font-size: 90%;
      background-color: #f9f2f4;
      border-radius: 4px;
    }

    .rest-api .http-method-post {
      color: #0d4b3b;
    }

    .rest-api .http-method-get {
      color: #2f3d89;
    }

    .rest-api .http-method-delete {
      color: #7e1e23;
    }

    ol {
      margin: 0;
      padding-left: 20px;
    }

    ul {
      margin: 0;
      padding-left: 20px;

      li {
        list-style-type: none;

        input[type="checkbox"] {
          margin-left: -1em;
        }
      }
    }

    table {
      /* Remove spacing between table cells (from Normalize.css) */
      border-collapse: collapse;
      border-spacing: 0;
      empty-cells: show;
      border-color: #cbcbcb;

      td, th {
        padding: 0.5em;
      }

      thead {
        background-color: #e0e0e0;
      }

      td {
        background-color: transparent;
      }
    }
  }
}
