$fragmentBorderColor: rgba(4, 46, 110, 0.30);
$nameBackgroundColor: rgba(4, 46, 110, 0.10);
$labelTextColor: #032C72;
$messageLineColor: #032C72;
$occuranceBorderColor: #032C72;
$occuranceBackgroundColor: #fff;
$participantLineColor: #032C72;
$participantBorderColor: #032C72;
$participantTextColor: #032C72;
$participantBackgroundColor: rgba(146, 192, 240, 0.30);
$dividerBackgroundColor: #E28553;
$dividerBorderColor: #E28553;
$dividerTextColor: #E28553;

.theme-blue .sequence-diagram {
  .divider {
    .name {
      border-radius: 4px;
      border-color: $dividerBorderColor;
      color: $dividerTextColor;
    }
    .left {
      background: $dividerBackgroundColor;
    }
    .right {
      background: $dividerBackgroundColor;
    }
  }
  .lifeline {
    .participant {
      font-weight: 400;
      border-color: $participantBorderColor;
      background: $participantBackgroundColor;
      label {
        text-decoration: underline;
        color: $participantTextColor;
      }
    }
    .line {
      border-left-color: $participantLineColor;
    }
  }
  .message {
    .name {
      padding-bottom: 1px;
      color: $messageLineColor;
    }
    border-bottom-color: $messageLineColor;
    svg {
      polyline {
        fill: $messageLineColor;
        stroke: $messageLineColor;
      }
    }
  }
  .message.self {
    svg>polyline:not(.head) {
      fill: none;
    }
  }
  .occurrence {
    border-color: $occuranceBorderColor;
    background-color: $occuranceBackgroundColor;
  }
  .fragment {
    margin-top: 8px;
    margin-bottom: 8px;
    border-radius: 4px;
    border-color: $fragmentBorderColor;
    .fragment.par>.block>.statement-container:not(:first-child), .segment:not(:first-child) {
      border-top: 1px solid $fragmentBorderColor;
    }
    .header {
      .name {
        background: $nameBackgroundColor;
        label { /* name label */
          background: transparent;
          padding: 0;
          color: $labelTextColor;
        }
      }
      label { /* other labels e.g. condition */
        color: $labelTextColor;
      }
    }
  }
  .statement-container {
    margin-bottom: 8px;
  }
}
