$fragmentBorderColor: rgba(0, 0, 0, 0.30);
$nameBackgroundColor: rgba(0, 0, 0, 0.07);
$messageLineColor: #000;
$occuranceBorderColor: #000;
$occuranceBackgroundColor: #F5F5F5;
$participantLineColor: rgba(0, 0, 0, 0.40);
$participantBorderColor: #000;
$participantBackgroundColor: #fff;
$dividerBackgroundColor: #000;
$dividerBorderColor: #000;

.theme-black-white .sequence-diagram {
  .divider {
    .name {
      padding: 2px 6px 2px 6px;
      border-radius: 0px;
      margin: 0px;
      border-color: $dividerBorderColor;
      box-shadow: 2px 2px 0px $dividerBorderColor;
    }

    .left {
      background: $dividerBackgroundColor;
    }

    .right {
      background: $dividerBackgroundColor;
    }
  }

  .lifeline {
    .participant {
      font-weight: 400;
      border-color: $participantBorderColor;
      background: $participantBackgroundColor;
      box-shadow: 2px 2px 0px $participantBorderColor;

      label {
        text-decoration: underline;
      }
    }

    .line {
      border-left-color: $participantLineColor;
    }
  }

  .message {
    .name {
      padding-bottom: 1px;
    }

    border-bottom-color: $messageLineColor;

    svg {
      polyline {
        fill: $messageLineColor;
        stroke: $messageLineColor;
      }
    }
  }

  .message.self {
    svg > polyline:not(.head) {
      fill: none;
    }
  }

  .occurrence {
    border-color: $occuranceBorderColor;
    background-color: $occuranceBackgroundColor;
  }

  .fragment {
    margin-top: 8px;
    margin-bottom: 8px;
    border-radius: 0;
    border-color: $fragmentBorderColor;

    .fragment.par > .block > .statement-container:not(:first-child), .segment:not(:first-child) {
      border-top: 1px solid $fragmentBorderColor;
    }

    .header {
      .name {
        background: $nameBackgroundColor;

        label { /* name label */
          background: transparent;
          padding: 0px;
        }
      }
    }
  }

  .statement-container {
    margin-bottom: 8px;
  }
}
