/*Color, font and position of labels (not the component itself)*/
.sequence-diagram {
  font-family: Helvetica, Verdana, serif;
  font-size: 16px;
}

.sequence-diagram .participant {
  background: #fff;
}

.sequence-diagram .participant,
.sequence-diagram .occurrence {
  border: 2px solid rgba(3, 3, 3, 0.05);
}

.sequence-diagram .message {
  border-bottom-color: #808080;
}

.sequence-diagram .occurrence {
  background-color: #d3d3d3;
}

.sequence-diagram .fragment {
  border-style: solid;
  border-color: #aaa;
  border-radius: 2px;
  background: rgba(255,255,255,.2);
  opacity: 0.9;
}

.sequence-diagram .fragment .header .name label {
  color: #555;
  font-weight: 700;
}

.sequence-diagram .fragment .header label.else-if {
  display: none;
}

.sequence-diagram .fragment.alt div.divider {
  border-bottom-style: dashed;
  border-bottom-color: #555;
}

.sequence-diagram .lifeline .line {
  border-left-style: dashed;
  border-left-color: #808080;
}

/*Interactive classes*/
.sequence-diagram .selected {
  border-color: rgba(3, 3, 3, 0.55)
}

.sequence-diagram .comments p,
.sequence-diagram .comments ul {
  margin: 0;
}

.sequence-diagram .comments ul li {
  list-style-type: none;
}

.sequence-diagram .comments ul li input[type="checkbox"] {
  margin-left: -2em;
}

.sequence-diagram .comments table {
  /* Remove spacing between table cells (from Normalize.css) */
  border-collapse: collapse;
  border-spacing: 0;
  empty-cells: show;
  border: 1px solid #cbcbcb;
}

.sequence-diagram .comments table caption {
  color: #000;
  font: italic 85%/1 arial, sans-serif;
  padding: 1em 0;
  text-align: center;
}

.sequence-diagram .comments table td,
.sequence-diagram .comments table th {
  border-left: 1px solid #cbcbcb;/*  inner column border */
  font-size: inherit;
  margin: 0;
  overflow: visible; /*to make ths where the title is really long work*/
  padding: 0.5em 1em; /* cell padding */
}

.sequence-diagram .comments table thead {
  background-color: #e0e0e0;
  color: #000;
  text-align: left;
  vertical-align: bottom;
}

/*
striping:
   even - #fff (white)
   odd  - #f2f2f2 (light gray)
*/
.sequence-diagram .comments table td {
  background-color: transparent;
}
