@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-text-base: #000000;       /* Messages */
    --color-text-header: #555555;     /* Title, Fragment Headers (not conditions) */
    --color-text-muted: #666666;      /* Comments */
    --color-text-hover: #174AD4;      /* Hover on messages */
    --color-text-secondary: #000000;  /* Everything else */
    --color-text-link: #A6D2FF;
    --color-text-fill: #000000;       /* Arrows */
    --color-bg-base: #ffffff;
    --color-bg-hover: #A6D2FF;
    --color-bg-secondary: #cccccc;
    --color-border-base: #000000;
    --color-border-secondary: #999999;
  }
  .theme-darcula {
    --color-text-base: #ffb86c;
    --color-text-header: #f8f8f2;
    --color-text-secondary: #8be9fd;
    --color-text-muted: #666666;
    --color-text-hover: #174AD4;    /* Hover on messages */
    --color-text-link: #A6D2FF;
    --color-text-fill: #cccccc;
    --color-bg-base: #2b2b2b;       /* Main background. From Intellij Darcula theme. */
    --color-bg-hover: #A6D2FF;      /* Hover on messages */
    --color-bg-secondary: #44475a;
    --color-border-base: #cccccc;
    --color-border-secondary: #555555;
  }
}
